

<div class="w3-display-container" style="">

    {{#each genxml.data.genxml.rows.genxml}}
    {{#each imagelist.genxml}}


    {{#imagetest @root "isshown" @../index @index}}

    {{#if @first}}
    <div id="sliderind{{moduleref @root}}-{{@index}}" class="w3-row">
        <img class="sliderind{{moduleref @root}}" src="{{image @root "thumburl" @../index @index @root.genxml.remotemodule.genxml.settings.width @root.genxml.remotemodule.genxml.settings.height}}" style="width: 100%;">
        <div class="w3-display-middle w3-center">
            {{#imagetest @root "hasheading" @../index @index}}
                <h2 class="">{{image @root "alt" @../index @index}}</h2>
            {{/imagetest}}
            {{#imagetest @root "hassummary" @../index @index}}
                <h3 class="">{{image @root "summary" @../index @index}}</h3>
            {{/imagetest}}
            {{#imagetest @root "haslink" @../index @index}}
                <div class="w3-button">
                    <a href="{{image @root "url" @../index @index}}" class="w3-text-light-grey" style="text-decoration:none;">{{image @root "urltext" @../index @index}}</a>
                </div>
            {{/imagetest}}
        </div>
    </div>
    {{/if}}

    {{/imagetest}}

    {{/each}}
    {{/each}}
</div>

{{! displayData this}}

