

<div class="w3-display-container" style="">

    {{#each genxml.data.genxml.rows.genxml}}
    {{#each imagelist.genxml}}
    {{#if @first}}
    <div id="sliderind{{moduleref @root}}-{{@index}}" class="w3-row">
        <img class="sliderind{{moduleref @root}}" src="{{image @root "thumburl" @../index @index 640 200}}" style="width: 100%;">
        <div class="{{select.displayposarticleimage}} w3-center">
            <h2 class="w3-text-light-grey">{{image @root "alt" @../index @index}}</h2>
            <h3 class="w3-text-light-grey">{{image @root "summary" @../index @index}}</h3>
            <div class="w3-button">
                <a href="{{image @root "url" @../index @index}}" class="w3-text-light-grey" style="text-decoration:none;">{{image @root "urltext" @../index @index}}</a>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
    {{/each}}
</div>

<script>

    function changebanner{{moduleref @root}}(idx)
    {
        var nextidx = idx + 1;
        if (nextidx == {{image @root "count"}}) {
            nextidx = 0
        }
        $('#sliderind{{moduleref @root}}-' + idx).hide();
        $('#sliderind{{moduleref @root}}-' + nextidx).show();

    }

</script>

{{! displayData this}}

